.CardParent {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #e5e7eb;
  position: relative;
}

.contentParent {
  padding: 12px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #4b5563;
}

.courseTitle {
  width: 250px;
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.courseParagraph {
  width: 250px;
  color: #4b5563;
  font-size: 15px;
  margin-bottom: 12px;
}

.buttonParent {
  text-align: center;
  border-top: 2px solid #e5e7eb;
}
.cardButton {
  margin: 8px 0px;
}

.failedBg {
  position: relative;
  width: 90px;
  height: 55px;
  background-color: white;
}
.failedCard {
  font-size: 18px;
  width: 80px;
  height: 45px;
  top: 5px;
  bottom: 0px;
  left: 5px;
  position: absolute;
  padding: 10px;
  margin: 0 auto;
  background-color: #ed1751;
  color: white;
}
.failedCard h2 {
  margin-left: 5px;
}

.failedContent {
  position: absolute;
  left: -6px;
  top: 202px;
}
